shamefully-hoist=true
allow-build=@rhinestone/safe7579,@rhinestone/registry,@rhinestone/module-bases,@rhinestone/modulekit,@rhinestone/compact-utils,@rhinestone/checknsignatures,@rhinestone/flatbytes,smartsessions,erc7579-implementation,the-compact,permit2,@uniswap/permit2,@uniswap/the-compact